<div class="container">
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="search-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="searchText"
               (keyup.enter)="filterContacts()">
        <button matSuffix mat-button (click)="filterContacts()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="card-container">
    <app-contact-card *ngFor="let contact of filteredContacts"
                      [contact]="contact"></app-contact-card>
  </div>
</div>

